body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 2px;
  padding-bottom: 2px;

}

.title {
  background: #e3f4ff;
  margin:10px;
  padding: 5px; 
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin:10px;
  padding: 5px; 
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 10px;
  padding: 20px;
  
  

  
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 5px 20px;
  display: block;
  margin: 0 auto;
 
}